# .env.example

# MongoDB username
USERNAME=your_mongodb_username

# MongoDB password
PASSWORD=your_mongodb_password

# Full MongoDB connection string (optional)
DB_URI=your_full_mongodb_connection_string (optional)
