<h2>Login</h2>
<form (ngSubmit)="onLogin()">
  <label>Email:
    <input type="email" [(ngModel)]="email" name="email" required appValidateInput [maxLength]="50" [allowSymbols]="true" />
  </label>
  <br/>
  <label>Password:
    <input type="password" [(ngModel)]="password" name="password" required appValidateInput [maxLength]="30" [allowSymbols]="true" />
  </label>
  <br/>
  <button type="submit">Login</button>
</form>
<div *ngIf="errorMessage" style="color:red">{{ errorMessage }}</div>
<div *ngIf="successMessage" style="color:green">{{ successMessage }}</div>